/* * {
    font-family: sans-serif;
} */

#root {
  display: flex;
}

.masthead {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 200px;
  -webkit-align-items: center;
  align-items: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.headnav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  color: #779c7a;
  padding-top: 2em;
  padding-left: 1em;
  background-color: #f2f2f2;
}

.header h1 {
  font-family: "Kadwa", 'sans-serif';
  font-size: 3rem;
  padding: 10px;
}

.header a {
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  padding: 15px;
  text-decoration: none;
  color: #779c7a;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  /* background-image: url("https://images.unsplash.com/photo-1606335270813-52d62bfc5e69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2777&q=80"); */
  /* background-color: rgba(235, 236, 235, 0.7); */
  width: 100%;
}

.navbar-nav a {
  color: #395213;
  text-decoration: none;
  font-size: 2rem;
  opacity: 1;
}

.content {
  padding-top: 200px;
}

.jumbotron {
  background-color: #eee;
  background-image: url("https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1366&h=700&q=80");
  height: 700px;
  text-align: center;
  z-index: 0;
  margin: 0px;
  border-radius: 0px;
}

.jumbotron div {
  background-color: #293b0d;
  color: #f2f2f2;
  /* text-align: center; */
  position: relative;
  top: 1em;
  font-size: 4rem;
  border-radius: 10px;
  opacity: 0.9;
  /* margin: 0px; */
  /* width: 50%; */
  padding: 30px;
  width: auto;
  margin: 250px;
  margin-top: 0;
  font-family: "Kadwa";
  /* margin-bottom: 400px; */
  /* z-index: 0; */
}

.jumbotron div h1 {
  font-family: "Kadwa";
}

.posts {
  background-color: #f2ddb6;
  font-family: sans-serif;
  padding: 50px;
}

.posts h2 {
  background-color: #395213;
  width: 15%;
  text-align: center;
  color: #f2f2f2;
  border-radius: 20px;
}

.posts img {
  width: 30%;
}

.postcard {
  /* padding: 100px; */
  background-color: #f2f2f2;
  border-radius: 70px;
  margin: 0;
  font-family: sans-serif;
  /* margin-top: 0px; */
}

.postheading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #5d3715;
  font-size: 2rem;
  color: #f2f2f2;
  font-family: sans-serif;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

.postmain {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.postmain img {
  border: 10px solid #5d3715;
  border-radius: 5px;
}

.submain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer {
  text-align: center;
  color: #f2f2f2;
  background-color: #5d3715;
  padding: 1px;
}

.search {
  padding: 200px;
}

.about {
  padding: 200px;
}

.profile {
  padding: 200px;
}